@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Mozilla+Headline:wght@200..700&display=swap');

/* #875547
#44292B
#000000
*/
html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  background-color: #CDB495;
  min-height: 300vh;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: "Crimson Text";
  font-weight: 400;
  margin-left: 5vw;
}
.description{
  font-size: 5vw;
}

.proyecto-titulo{
  text-decoration: underline;
  text-decoration-color: #875547;
  font-size: 4em;
}

.proyecto-titulo:hover{
  text-decoration: underline;
  text-decoration-color: #44292B;
}
button:hover{
  background-color: #44292B;
  color: white;

}

.nav{
  height: 5vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  background-color: #44292B;
}
.profiling{
  display: flex;
  justify-content: right;
}
.profile {
  border-radius: 60px;
  z-index: 100;
  width: 55vw;
  height: auto;
}



#intro-text{
  margin-top: 2vh;
}

#intro-text h1{
  margin-top: 3vh;
}

#intro-text button{
  position: absolute;
  z-index: 1000;
}

.soluciones{
  margin-top: -25vh;
}



h2{
  margin-top: 8vh;
  font-size: 15px;
}

h3, h4{
  color: #000000;
}
.intro p{
  color: #44292B;
}

.ellipse-portfolio h3,  h4, .ellipse-portfolio2 h3, h4{
  color: white;
  text-decoration: underline;
  text-decoration-color: #875547;
  margin-right: 100%;
  text-overflow: none;
}

span{
  color: #875547;
  
}
p{
  margin-top: 4vh;
  color: #44292B;
  margin-right: 18vw;
}

button{
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 5vw;
}



.ellipse{
  position: relative;
  top: -25vh;
  left: -10vw;
  opacity: 12%;
  align-items:center;
  height: 55%;
  width: 110%;
  border-radius: 100%;
  justify-content:center;
  position: absolute;
  background:
    radial-gradient(200% 200% at 40% 30%, #875547,#CDB495 50%);

  

  animation: sweep 6s linear infinite alternate;
}

.ellipse2{
  z-index: -10;
  overflow-x: hidden;
  top: 150vh;
  left: -50vw;
  opacity: 25%;
  align-items:center;
  height: 65%;
  width: 110%;
  transform: rotateZ(45deg);
  border-radius: 100%;
  justify-content:center;
  position: absolute;
  background:
    radial-gradient(200% 200% at 40% 30%, #875547,#CDB495 50%);

  

  animation: sweep2 12s linear infinite alternate;
}

.experience{
  margin-top: 20vh;
  padding-bottom: 8vh;
}
.experience h1{
  font-size: 1.50em;
  line-height: 5vh;
}
.experience h2 {
  padding-bottom: 4vh;
}

.selection{
  z-index: 1000;
}

@keyframes sweep{
  to{
    top: -15vh;
  }
}

@keyframes sweep2{
  to{
    top: 150vh;
  }

}


@keyframes sweep3{
  to{
    left: 30vw;
  }

}


@keyframes sweep4{
  to{
    left: 10vw;
  }

}

/* Accesibilidad: respeta "reducir movimiento" */
@media (prefers-reduced-motion: reduce){
  .ellipse{ animation: none; }
}


.intro{
  margin-top: 40vh;
}

.intro h1{
  font-size: 1.35em;
}

.dates{
  font-size: 0.75em;
  margin-top: 1vh;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2vh;
  margin-top: 8vh;
}

.buttons button {
  background-color: #875547;
  border-radius: 10px;
  padding: 1vh 2vw;
  width: 50%;
}

.buttons button:hover {
  background-color: #44292B;
}

#projects{
  margin-left: -5vw;
}
  
.ellipse-portfolio, .ellipse-portfolio2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10vh 0;
  cursor: pointer;
}

.ellipse-portfolio h1,
.ellipse-portfolio2 h1 {
  position: relative;
  margin: 10vh 30vw;
  z-index: 1;
}

.ellipse-portfolio h3,
.ellipse-portfolio2 h3 {
  position: relative; 
  margin-top: -15vh;
  margin-left: 30vw;
  z-index: 1;
}

.ellipse3{
  position: absolute;
  top: 5vh;
  left: 60vw;
  height: 16vh;
  width: 75vw;
  border-radius: 100%;
  opacity: 0.15;
  z-index: 0;
  background: radial-gradient(200% 200% at 40% 30%, #875547,#CDB495 50%);
  animation: sweep3 4s linear infinite alternate;
}


.stack{
  margin-top: 150vh;
  margin-left: 5vw;
}

.stack h1{
  color: #875547;
  margin-bottom: 8vh;
}

.footer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -10vw;
  height: 80vh;
  width: 110vw;
  background-color: #44292B;
}

.footer h1, p{
  color: white;
}

.footer p{
  margin-left: 22vw;
}

.footer button{
  margin-top: 2vh;
  width: 35vw;
}

.datalist{
  margin-top: 25vh;
}

li{
  list-style: none;
}
a{
  color: #875547;
}

a:hover{
  color:#44292B;
}


.data-title{
  font-size: 1em;
}

.data-description{
  font-size: 0.25em;
}

.retail-title{
  margin-left: 0;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: #44292B;
}

.retail-subtitle{
  margin-top: 15vh;
  font-weight: 500;
}

.retail-p{
  line-height: 2;
  font-weight: 510;
  color: #000000;
}


.linknodecor{
  text-decoration: none;
}

#repo-tech{
  margin-left: 15vw;
  color: #44292B;
  font-size: 0.60em;
}

table{
  margin-top: 10vh;
  padding-left: 15vw;
  padding-right: 5vw;
}

table tr{
  color: #44292B;
}

table td{
  color: #000000;
  font-weight: 500;
  padding-top: 15vh;
}

.screenshots{
  display: flex;
  width: 100vw;
  filter: sepia(0.7);
}

/* Media queries */

@media (min-width: 200px) {
  
  .ellipse3{
    width: 50vw;
    left: 30vw;
  }

  .ellipse-portfolio h3,
.ellipse-portfolio2 h3 {
  position: relative; 
  margin-top: 10vh;
  margin-left: 30vw;
  z-index: 1;
}

  @keyframes sweep3{
  to{
    left: 45vw;
  }

}
}

@media (min-width: 310px) {
  
  .ellipse3{
    width: 70vw;
    left: 30vw;
  }

  .ellipse-portfolio h3,
.ellipse-portfolio2 h3 {
  position: relative; 
  margin-top: 10vh;
  margin-left: 30vw;
  z-index: 1;
}

  @keyframes sweep3{
  to{
    left: 45vw;
  }

  

}

table{
  margin-top: 10vh;
  margin-left: -15vw;
}

table tr{
  color: #44292B;
}


table td{
  color: #000000;
  font-weight: 500;
}



  }

@media (min-width: 360px) {
  html{
  overflow-x: hidden;
}
  body{
    overflow-x: hidden;

  }
  .soluciones{
    padding-top: 8vh;
    font-size: 1.2em !important ;
  }

  .ellipse-portfolio, .ellipse-portfolio2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10vh 0;
  cursor: pointer;
}

.ellipse-portfolio h1,
.ellipse-portfolio2 h1 {
  position: relative;
  font-size: 2.5em;
  margin: 10vh 25vw;
  z-index: 1;
}

.ellipse-portfolio h3,
.ellipse-portfolio2 h3 {
  position: relative;
  width: 95vw;
  margin-top: -5vh;
  margin-left: 10vw;
  z-index: 1;
}

.ellipse3{
  position: absolute;
  top: 5vh;
  left: -5vw;
  height: 35vh;
  width:80vw;
  border-radius: 100%;
  opacity: 0.15;
  z-index: 0;
  background: radial-gradient(200% 200% at 40% 30%, #875547,#CDB495 50%);
  animation: sweep3 6s linear infinite alternate;
}

table{
  margin-top: 10vh;
  margin-left: -10vw;
}

table tr{
  color: #44292B;
}

table td{
  color: #000000;
  font-weight: 500;
}


  
}

@media (min-width: 411px) {
  html{
  overflow-x: hidden;
}
  body{
    overflow-x: hidden;

  }
  .soluciones{
    padding-top: 8vh;
    font-size: 1.2em !important ;
  }

  .ellipse-portfolio, .ellipse-portfolio2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10vh 0;
  cursor: pointer;
}

.ellipse-portfolio h1,
.ellipse-portfolio2 h1 {
  position: relative;
  margin: 10vh 30vw;
  z-index: 1;
}

.ellipse-portfolio h3,
.ellipse-portfolio2 h3 {
  position: relative; 
  margin-top: -5vh;
  margin-left: 10vw;
  z-index: 1;
}

.ellipse3{
  position: absolute;
  top: 5vh;
  left: 0;
  height: 35vh;
  width:70vw;
  border-radius: 100%;
  opacity: 0.15;
  z-index: 0;
  background: radial-gradient(200% 200% at 40% 30%, #875547,#CDB495 50%);
  animation: sweep3 6s linear infinite alternate;
}
  
}

@media (min-width: 768px) {
    h2{
        font-size: 1.75em;
    }
  h1{
    line-height: 4vh;
    font-size: 6em;
  }

  h3{
    font-size: 1.75em;
  }

  .ellipse-portfolio, .ellipse-portfolio2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20vh 0;
  cursor: pointer;
}

.ellipse-portfolio h1,
.ellipse-portfolio2 h1 {
  position: relative;
  margin: 10vh 30vw;
  z-index: 1;
}

.ellipse-portfolio h3,
.ellipse-portfolio2 h3 {
  position: relative; 
  margin-top: 15vh;
  margin-left: 15vw;
  z-index: 1;
}

.ellipse3{
  position: absolute;
  top: 5vh;
  left: 0;
  height: 50vh;
  width: 70vw;
  border-radius: 100%;
  opacity: 0.15;
  z-index: 0;
  background: radial-gradient(200% 200% at 40% 30%, #875547,#CDB495 50%);
  animation: sweep3 6s linear infinite alternate;
}

  .soluciones{
    padding-top: 8vh;
    font-size: 2em !important;
  }


}

@media (min-width: 1024px) {
  html{
    overflow-x: hidden;
  }
  body{
    overflow-x: hidden;

  }
    h2{
        font-size: 1.75em;
    }
  h1{
    
    font-size: 6em;
  }

  h3{

    font-size: 2.75em;
  }

  .profiling{
  display: flex;
  justify-content: right;
}
.profile {
  border-radius: 60px;
  z-index: 100;
  width: 35vw;
  height: auto;
}
  .ellipse{
    top: -30vh;
    height: 200%;
  }

  .ellipse2{
    top: 300vh;
  }

  .ellipse-portfolio h1{
    font-size: 5em;
  }

  .ellipse-portfolio h3{
    font-size: 3em;
  }

  .ellipse3{
    top: 5vh;
    height: 16vh;
    width: 50vw;
    left: 30vw;
  }


  .intro{
    margin-top: 100vh;
    margin-left: 15vw;
  }

  .experience{
    margin-left: 15vw;
  }
  .buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2vh;
  margin-top: 8vh;
}

table{
  margin-top: 10vh;
  margin-left: 25vw;
}

table tr{
  color: #44292B;
}


table td{
  color: #000000;
  font-weight: 500;
}

  .footer{
    height: 100vh;

  }

  @keyframes sweep2{
  to{
    top: 150vh;
  }

  }
  
  @keyframes sweep3{
  to{
    left: 25vh;
  }

}


}

@media (min-width: 1025px) {
  html{
  overflow-x: hidden;
}
  body{
    overflow-x: hidden;

  }
 
  #intro-text h3{
    font-size: 2.25em;
  }
  p{
    font-size: 1.25em;
  }
  .soluciones{
    margin-top: 100vh;
    font-size: 6em;
  }
  .description{
    font-size: 1vw;
    }
  
  .experience{
    margin-top: 55vh;
  }
  .experience h1 {
    font-size: 2em;
  }

  .miexp{
    font-size: 3em;
  }

  .ellipse3{
    height: 56vh;
    width: 40vw;
    left: 30vw;
  }

  .ellipse-portfolio h3{
    margin-left: 10vw;
    font-size: 2em;
  }

  @keyframes sweep3{
  to{
    left: 25vh;
  }
  }
}

@media (min-width: 1920px) {

  

  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1em;
  }
  p{
    font-size: 2em;
  }
  button{
    font-size: 2em;
  }
  .experience {
    font-size: 2em;
  }

  .soluciones{
    font-size: 6em;
  }

  .description{
    font-size: 1vw;
  }

  .ellipse-portfolio h3{
    margin-left: 10vw;
  }

  .footer button{
    height: 10%;
    font-size: 2em;
  }


  table{
  margin-top: 10vh;
  margin-left: 25vw;
}

table tr{
  color: #44292B;
}

table td{
  color: #000000;
  font-weight: 500;
}
}
